body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  #wd-kanbas .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.list-group.wd > .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}
.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}
.list-group-item {
  --bs-list-group-border-color: gray;
}
.wd-lesson {
  border-left: 3px solid green !important;
}

#wd-search-assignment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 1rem; */
  align-items: center;
  position: relative;
  /* padding: 10px; */
}

.wd-input-search {
  width: 250px; /* Set the desired width */
  height: 40px; /* Set the desired height */
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); /* Add shadow for clean look */
}

input#wd-search-assignment:focus {
  outline: none;
  box-shadow: none;
}

button#wd-add-assignment-group {
  border-radius: 0%;
}

button#wd-add-assignment {
  color: white;
  border-radius: 0%;
}

.wd-assignment-title{
  margin-right: 10px;
  border: 1px solid #c7cdd1;
  border-radius: 0px;
  background-color: #f8f9fa;
  display: flex;
}

.wd-assignment-percent-button {
  border: 1px solid #c7cdd1;
  border-radius: 50px;
}

.wd-assignment-list-item{
  padding-left: 0%;
  padding-right: 0%;
}